

body {
  font-size:110%;
  padding:20px;
  border-radius: 10px;
}

h1 {
  font-family:'Advent Pro';
  font-weight: bold;
  color:#00baa7;
  font-size:200%;
}

h2 {
  color:#31797c;
  font-family:'Aguafina Script';
  padding-left: 10px;
}

h3 {
  color:#1E90FF;
  font-family:'Amatic SC';
  font-size: 30px;
}

p,ul,th,td,form {
  font-family:'Advent Pro';
  color:#383838;
  font-size:20px;
}

p {
  padding-left:60px;
}

img{
  width:90%;
}

table{
  margin-right: 20px;
}

address {
  font-family:"Helvetica";
  font-size:70%;
  background-color:#00baa7;
  color:#ffffff;
  text-align:center;
}

/*id selector*/
#FOOD {
  color:#ffce3d;
  font-family:'Sofia';
  font-size:150%;
  letter-spacing:12px;
}

/*class selector*/
.sidenav {
  height: 100%;
  width: 135px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00baa7;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family:'Amatic SC';
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.titleBlock {
  text-align:center;
}

.textHighlight {
  color:#1E90FF;
  font-weight:bold;
}

.buttons{
  background-color:#1E90FF;
  color:white;
  font-family: 'Amatic SC';
  font-size:120%;
  height:50px;
  width:200px"
}

.image{
  margin: 20px 0px 0px 60px;
}
